:root {
    --bg-base: #1C2027;
    --bg: #16181D;
    --primary: #339FB6;
    --text: #8592AD;
    --button-dark: #2f3540;
    --button-mid: #576176;
    --button-light: #8592AD;
    --primary-select: #1C8FA6;
    --mid-select: #292e38;
    --dark-select: #222630;
    --border: #252832;
    --danger: #E45B67;
    --success: #49B594;

    --size-1: 40px;
    --size-2: 32px;
    --size-3: 20px;
    --size-4: 16px;
    --size-5: 14px;

    --transition: none;
}
:root.light {
    --bg-base: #FFFFFF;
    --bg: #ecedf0;
    --primary: #009adc;
    --text: #181b23;
    --button-dark:#d2d6de;
    --button-mid: #8e99ac;
    --button-light: #6a7790;
    --primary-select: #008faf;
    --mid-select:  #c4cad4;
    --dark-select: #dadce2;
    --success: #0fbb7f;
    --danger: #e52636;
}

* {
    font-family: Sora;
    font-size: var(--size-4);
    box-sizing: border-box;
    border: none;
    line-height: 1.5rem;

    transition: var(--transition);

    /* debug */
    /* background-color: rgba(50, 100, 200, 0.1) !important; */
}
*::selection {
    color: var(--bg);
    background: var(--primary);
}

/* layout */
.d-flex {display: flex;}
.flex-col {flex-direction: column;}
.flex-row {flex-direction: row;}
.justify-center {justify-content: center;}
.justify-left {justify-content: left;}
.justify-right {justify-content: right;}
.justify-start {justify-content: start;}
.justify-end {justify-content: end;}
.justify-around {justify-content: space-around;}
.justify-between {justify-content: space-between;}
.justidy-evenly {justify-content: space-evenly;}
.align-center {align-items: center;}
.align-left {align-items: left;}
.align-right {align-items: right;}
.align-start {align-items: start;}
.align-end {align-items: end;}
.d-grid {display: grid;}
.pos-rel {position: relative;}
.pos-abs {position: absolute;}

/* colors */
.bg-none {background: none;}
.bg-base {background-color: var(--bg-base);}
.bg-norm {background-color: var(--bg);}
.bg-primary {background-color: var(--primary);}
.bg-btn-light {background-color: var(--button-light);}
.bg-btn-mid {background-color: var(--button-mid);}
.bg-btn-dark {background-color: var(--button-dark);}
.bg-dark-select {background-color: var(--dark-select);}
.bg-mid-select {background-color: var(--mid-select);}
.bg-light-select {background-color: var(--light-select);}
.bg-danger {background-color: var(--danger);}
.bg-success {background-color: var(--success);}
.color-bg-base {color: var(--bg-base);}
.color-bg-norm {color: var(--bg);}
.color-primary {color: var(--primary);}
.color-text {color: var(--text);}
.color-btn-light {color: var(--button-light);}
.color-btn-mid {color: var(--button-mid);}
.color-btn-dark {color: var(--button-dark);}
.color-danger {color: var(--danger);}
.color-success {color: var(--success);}

/* padding and stuff */
.p0 {padding: 0;}
.p025 {padding: 0.25rem;}
.p05 {padding: 0.5rem;}
.p1 {padding: 1rem;}
.p2 {padding: 2rem;}
.p3 {padding: 3rem;}
.m0 {margin: 0;}
.m025 {margin: 0.25rem;}
.m05 {margin: 0.5rem;}
.m1 {margin: 1rem;}
.r025 {border-radius: 0.25rem;}
.r05 {border-radius: 0.5rem;}
.r1 {border-radius: 1rem;}
.r2 {border-radius: 2rem;}
.g025 {gap: 0.25rem;}
.g05 {gap: 0.5rem;}
.g1 {gap: 1rem;}
.g2 {gap: 2rem;}
.f1 {flex: 1;}
.f2 {flex: 2;}
.f3 {flex: 3;}
.f4 {flex: 4;}

/* fonts and icons */
.size1 {font-size: var(--size-1);}
.size2 {font-size: var(--size-2);}
.size3 {font-size: var(--size-3);}
.size4 {font-size: var(--size-4);}
.size5 {font-size: var(--size-5);}
svg.size1 {height: var(--size-1);}
svg.size2 {height: var(--size-2);}
svg.size3 {height: var(--size-3);}
svg.size4 {height: var(--size-4);}
code,.code {font-family: "JetBrains Mono";}
.inline-code {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* other */
.nodeco {text-decoration: none;}
li::marker {color: var(--text);}
.border {border: 1px solid var(--border);}

/* buttons */
.btn {cursor: pointer; width: max-content;}
.btn.bg-btn-dark:hover {background-color: var(--mid-select);}
.btn.bg-primary:hover {background-color: var(--primary-select);}