.app {
  --gap: 2rem;
  --pad: 1rem;

  gap: var(--gap);
  padding: var(--pad);
  height: 100dvh;

  /*some batshit crazy math right here idk how it works but it works*/
  grid-template-rows: 5rem calc(100dvh - 5rem - var(--gap) - 2 * var(--pad));

  /* debug */
  /* background-color: rgba(255, 0, 0, 0.3) !important; */
}
