.container {
  grid-template-columns: max-content auto;
}
.aside {
  display: flex;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
  .aside {
    display: none;
  }
}