.container {
  overflow: scroll;
  padding-bottom: 5rem;
}

.section {
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.subheader {
  padding: 2rem;
  padding-top: 5rem;
}
.subheader.first {
  padding-top: 0.5rem;
}