.header {
  font-weight: bold;
}
.button {
  aspect-ratio: 1;
  place-content: center;
}
.button:hover {
  background: var(--button-dark);
}

@media (max-width: 770px) {
  .header {
    font-size: 4vw;
  }
}
